<div class="header row">
  <h1>Boardgames Online</h1>
  <h3>If you want to know where your favorite boardgame is available to play online, this page is for you!</h3>
</div>
<div class="row colored-box">
  <div class="col-md-3 filter inside-box">
    <div class="position-sticky sticky-form">
      <%= simple_form_for :filter, url: root_path, method: :get, remote: true do |f| %>
        <%= f.input :search,
          class: "form-control",
          placeholder: "Find a game",
          required: false
        %>
        <%= f.input :sites, 
          label: "Sites", 
          collection: @sites, 
          as: :check_boxes, 
          include_hidden: false,
          required: false
         %>
        <%= link_to "Reset", root_path  %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 table inside-box" id="games">
    <%= render 'game', games: @games %>
  </div>
</div>
<%= javascript_pack_tag 'checkbox' %>