<div class="site">
  <h2>Add a new site</h2>
  <%= form_with scope: @site, url: sites_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {class: "form-control", placeholder: "Site name"} %>
    </div>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, {class: "form-control", placeholder: "http://..."} %>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>