<div class="site">
  <h1><%= link_to @site.name, @site.url %></h1>
  <br>
  <p><b>Number of games:</b></p>
  <p><%= @site.games.size %></p>
  <p><b>Last update:</b></p>
  <% if @site.last_check.nil? %></p>
    <p>No updates yet...</p>
  <% else %>
    <p><%= @site.last_check %></p>
    <p><%= Date.today.mjd - @site.last_check.mjd %> days ago</p>
  <% end %>
  <hr>
  <%= link_to "Update game list", update_games_path(@site), class: "btn btn-primary"%>
  <%= link_to "Delete site", site_path(@site), method: :delete, class: "btn btn-danger" %>
</div>
